.title {
    color: $color-black-default;
    
    &__blog {
        font-family: $primary-title;
        font-weight: 400;
        font-size: 48px;
        letter-spacing: 0.05em;
        text-align: left;
        margin-top: 90px;
         

        @media screen and (max-width:$mobile){
            text-align: center;
            margin-top: 70px;
        }
    }
    
    &__banner {
        font-family: $primary-title;
        font-weight: 600;
        font-size: 30px;
        line-height: 50px;
        color: $color-black-default;
        letter-spacing: 0.05rem;
        width: 100%;
        max-width: 85%;

        @media screen and (min-width:$tablet-start) {
            max-width: 72%;
            font-size: 36px;

        }
        @media screen and (min-width:$desktop) {
            max-width: 60%;
            font-size: 48px;
            line-height: 64px; 
        }
    }
}
