.banner {
    background-image: url(../../image/image_mob.jpg);
    height: 500px;
    padding-top: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    @media screen and (min-width:$tablet-start) {
        padding-top: 30px;
        min-height: 320px;
        background-image: url(../../image/image_tablet.jpg);
        height: 42vw;
        
    }
    @media screen and (min-width:$desktop) {
        padding-top: 100px;
        min-height: 600px;
        background-image: url(../../image/image_desktop.jpg);
        height: 42vw;
        
    }
}