.nav {
    margin-left: auto ;
    margin-right: 85px;

    @media screen and (max-width:$mobile){
        margin-right: 0;
     }

    &__list {
        display: flex;
        gap: 42px;
       
        @media screen and (max-width:$tablet-start){
            display: none;
        }

        &-link {
            text-transform: uppercase;
            font-size: 14px;
            color: $color-black-default;
            position: relative;
            padding-bottom: 10px;
    
            &:before {
                content: "";
                width: 80%;
                height: 2px;
                background-color: $color-black-default;
                position: absolute;
                bottom: 0;
                left: 50%;
                transition: all 300ms ease-in-out;
                transform: translateX(-50%) scale3d(0, 1, 1);   
            }
            
            &:hover {

                &:before {
                    transform: translateX(-50%) scale3d(1, 1, 1);
                }
            }
        }
    }
}