.footer__block-social {
    margin-top: 125px;
    display: flex;
    gap: 23px;

    @media screen and (max-width:$tablet-start){
        margin-top: 35px;
        justify-content: center;
    }

    &-social-item {
    text-decoration: none;
    }
}
