.btn {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;

 

    &__mobile {
        display: none;
        margin-left: 40px;

        /*@media screen and (max-width:$mobile-end) {
            margin-left: 20px;
    }*/
        
        @media screen and (max-width:$tablet-start){
            display: block;
            margin-left: 40px;
        }
    }
}

.button {
    width: 180px;
    height: 46px;
    background-color: $color-gray;
    text-align: center;
    padding: 10px 45px;
    margin: 64px auto;

    &__load {
        font-weight: 700;
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: $color-white;
        text-decoration: none;
    }

}